<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{URL}}/admin">Manual do Calouro</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                {{links}}
            </ul>

            <div class="d-flex justify-content-end" style="width: 100%">
                <a href="{{URL}}/admin/logout">
                    <button class="btn" type="button">Sair</button>
                </a>
            </div>
        </div>
    </div>
</nav>
