<div class='dropdown'>
    <button class='btn border-none dropdown-toggle' type='button' data-bs-toggle='dropdown' aria-expanded='false'>
        <img id='img-perfil' alt='user-pic' src='{{URL}}/public/uploads/{{imagem}}'>
    </button>

    <ul class='dropdown-menu'>
        {{admin}}
        <li><a class='dropdown-item' href='{{URL}}/profile'>Perfil</a></li>
        <li><a class='dropdown-item' href='{{URL}}/sac'>Fale conosco</a></li>
        <li><a class='dropdown-item' href='{{URL}}/config'>Configurações</a></li>
        <li><a class='dropdown-item' href='{{URL}}/signout'>Sair<i class='fa-solid fa-right-from-bracket ms-2'></i></a></li>
    </ul>
</div>