* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 15.5px;
}

html {
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

nav.navbar,
footer {
    background-color: #09681b;
}

.caixa1 {
    background-color: #dbdde0;
}

span ul.nav.flex-column {
    background-color: blue;
    border: 1px solid red;
}

.div-video > iframe {
    width: 840px; 
    height: 472px;
}

.div-mapa > iframe {
    width: 800px; 
    height: 600px;
}

@media screen and (max-width: 900px) {
    .div-video > iframe {
        width: 100%;
        height: 200px;
    }

    .div-mapa > iframe {
        width: 100%;
        max-height: 75vh;
    }

}

#foto-editar-perfil {
    border-radius: 50%;
    object-fit: cover;
    width: 10vw;
    height: 10vw;
    min-width: 100px;
    min-height: 100px;
}

.card-contato {
    max-width: 800px;
}

.card-contato img {
    max-width: 200px;
    padding: 15px;
}

.img-contato {
    border-radius: 50%;
    object-fit: cover;
    min-width: 70px;
    min-height: 70px;
    max-width: 90px;
    max-height: 90px;
}

#img-perfil {
    border-radius: 50%;
    object-fit: cover;
    width: 2.5vw;
    height: 2.5vw;
    min-width: 40px;
    min-height: 40px;
}

.img-comentario {
    border-radius: 50%;
    object-fit: cover;
    min-width: 50px;
    min-height: 50px;
    max-width: 65px;
    max-height: 65px;
    width: 70px;
    height: 70px;
}

td {
    min-width: 80px;
}

@media screen and (max-width: 900px) {
    td strong, td small {
        font-size: 13px;
    }
}

.accordion {
    max-width: 800px;
}

.logo {
    height: 35px;
}

ul.list-unstyled li {
    padding: 1px 0;
}

footer li a {
    color: white;
    text-decoration: none;
}

footer li a:hover {
    border-bottom: 1px dotted white;
    color: lightgray;
}

.crudComment {
    resize: none;
}