<section>
    <div class="p-5">
        <div class="container">
            <h1>Sobre nós</h1>
            <p>
                Somos um grupo de alunos do 3° ano do curso de Informática para Internet integrado ao ensino médio
                do IFES campus Serra. Este website faz parte do nosso projeto para a matéria Projeto Integrador.
            </p>
            <p>
                Além do nosso Projeto Integrador, também desenvolveremos esta aplicação web para o projeto da
                matéria de Programação Web II e uma versão em aplicativo android para o projeto da matéria de Dispositivos Móveis.
            </p>
        </div>
    </div>

    <div class="p-5 caixa1">
        <div class="container">
            <h1>Dev Team</h1>
            <div class="d-md-flex flex-md-row justify-content-md-evenly">

                <div class="m-3">
                    <div class="text-center mb-3">
                        <h4>Henrique Dalmagro</h4>
                        <img class="img-fluid rounded border border-3 border-secondary" src="{{URL}}/public/images/henrique_dalmagro.jpeg" alt="">
                    </div>

                    <p>Desenvolvedor full-stack e gerente do projeto</p>
                </div>

                <div class="m-3">
                    <div class="text-center mb-3">
                        <h4>Duda Barros</h4>
                        <img class="img-fluid rounded border border-3 border-secondary" src="{{URL}}/public/images/duda_barros.jpeg" alt="">
                    </div>

                    <p>Desenvolvedora front-end e designer</p>
                </div>

                <div class="m-3">
                    <div class="text-center mb-3">
                        <h4>Rafael Barros</h4>
                        <img class="img-fluid rounded border border-3 border-secondary" src="{{URL}}/public/images/rafael_barros.jpeg" alt="">
                    </div>

                    <p>Desenvolvedor back-end e gestor SQL</p>
                </div>
                
            </div>
        </div>
    </div>

    <div class="p-5">
        <div class="container">
            <div class="mb-4">
                <h1 class="h1">Sobre o Manual do Calouro</h1>
                <p>
                    Este site visa facilitar a vida dos alunos do IFES campus Serra, em especial dos alunos
                    ingressantes, de forma a ajudá-los com seu cotidiano no campus.
                </p>
                <p>
                    O site está atualmente em construção, porém buscaremos oferecer acesso mais rápido e fácil ao
                    calendário acadêmico do IFES campus Serra, horário das aulas de cada turma dos cursos técnicos
                    integrados, mapa do campus, informações de contato com departamentos e professores, etc.
                </p>
                <p>
                    Esse projeto foi idealizado visando facilitar a adaptação de alunos calouros e problemas cotidianos que outros alunos e servidores venham a ter, como descobrir o horário de atendimento de algum departamento, servidor ou professor.
                </p>
            </div>
        </div>
    </div>
</section>