<section>
    <div class="p-5">
        <div class="container">
            <h1 class="h1">Sobre nós</h1>
            <p>
                Somos um grupo de alunos do 3° ano do curso de Informática para Internet integrado ao ensino médio
                do IFES campus Serra. Este site web faz parte do nosso projeto para a matéria Projeto Integrador.
            </p>
            <p>
                Além do nosso Projeto Integrador, também desenvolveremos esta aplicação web para o projeto da
                matéria de Programação Web II.
            </p>
        </div>
    </div>

    <div class="p-5 caixa1">
        <div class="container">
            <h1 class="h1">Sobre o Manual do Calouro&trade;</h1>
            <p>
                Este site visa facilitar a vida dos alunos do IFES campus Serra, em especial dos alunos
                ingressantes, de forma a ajudá-los com seu cotidiano no campus.
            </p>
            <p>
                O site está atualmente em construção, porém buscaremos oferecer acesso mais rápido e fácil ao
                calendário acadêmico do IFES campus Serra, horário das aulas de cada turma dos cursos técnicos
                integrados, mapa do campus, informações de contato com departamentos e professores, etc.
            </p>
        </div>
    </div>
</section>