<!-- Conteudo da pagina -->
<section>
    <div class="p-5 caixa1">
        <div class="container">
            <h1>Calendário de Eventos</h1>
            <p>
                Aqui estão os eventos mais relevantes que ocorrerão no campus Serra.
            </p>
            <p>
                Caso esteja procurando pelo calendário acadêmico, você pode acessá-lo <a href="https://serra.ifes.edu.br/calendario-academico">aqui</a>.
            </p>
            
        </div>
    </div>
</section>

<section class="mx-1 my-5">
    <link rel="stylesheet" href="{{URL}}/resources/css/calendario.css">
    <div id="calendar"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script src="{{URL}}/resources/js/calendario.js"></script>
</section>