<section>
    <div class="p-5 caixa1">
        <div class="container">
            <h1>Contatos de Servidores</h1>
            <p>
                Aqui estão os contatos cadastrados no sistema.
            </p>
            <p>
                Para acessar os contatos disponivel no portal, clique <a href="https://serra.ifes.edu.br/telefones-do-campus">aqui</a>.
            </p>
            
        </div>
    </div>
</section>

<section class="container mb-5 mt-3">
    {{status}}

    {{my_contacts}}
    
    <script src="{{URL}}/resources/js/contato.js"></script>

    <ul class="nav nav-tabs rounded border-bottom-0" id="tabsContatos" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="servidor-tab" data-bs-toggle="tab" data-bs-target="#servidor-tab-pane" type="button" role="tab" aria-controls="servidor-tab-pane" aria-selected="false">
                Servidores
            </button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link" id="professor-tab" data-bs-toggle="tab" data-bs-target="#professor-tab-pane" type="button" role="tab" aria-controls="professor-tab-pane" aria-selected="false">
                Professores
            </button>
        </li>
    </ul>

    <div class="tab-content" id="tabServ">
        <div class="tab-pane fade show active border py-4 px-2" id="servidor-tab-pane" role="tabpanel" aria-labelledby="servidor-tab" tabindex="0">
            <!-- SERVIDORES -->
            {{servidores}}
        </div>
    </div>

    <div class="tab-content" id="tabProf">
        <div class="tab-pane fade border py-4 px-2" id="professor-tab-pane" role="tabpanel" aria-labelledby="professor-tab" tabindex="0">
            <!-- PROFESSORES -->
            {{professores}}
        </div>
    </div>
</section>
