<!-- Conteúdo da pagina -->
<section>
    <div class="p-5 mb-5 caixa1">
        <div class="container">
            <h1 class="h1">Perguntas Frequentes</h1>
            <p>
                Frequently Asked Questions (FAQ) ou Perguntas Respondidas Frequentemente são dúvidas frequentes sobre o IFES, sobre o campus Serra ou sobre o Manual do Calouro&#8482;.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="accordion mb-5" id="perguntas">

            <div class="accordion-item">
                <h2 class="accordion-header" id="q1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c1" aria-expanded="false" aria-controls="c1">
                        O que é o Sistema Acadêmico e o AVA/Moodle?
                    </button>
                </h2>
                <div id="c1" class="accordion-collapse collapse" aria-labelledby="q1" data-bs-parent="#perguntas">
                    <div class="accordion-body">
                        O <a href="https://academico.ifes.edu.br/">Sistema Acadêmico</a> é o sistema do IFES, onde o aluno pode verificar notas, faltas, materiais de aula e trocar mensagens com os professores. Para acessá-lo, vá na opção Aluno e coloque seu usuário, que é sua matrícula, e a senha, que, no primeiro acesso, é 123. Confirme seus dados, corrija se houver algum erro e altere sua senha.
                        <br><br>
                        O <a href="https://ava.cefor.ifes.edu.br/">AVA ou Moodle</a> é o Ambiente Virtual de Aprendizagem do IFES, onde o aluno pode acessar as salas virtuais de suas matérias, verificar atividades cujo envio é virtual, acessar materiais de aula e trocar mensagens com os professores e outros alunos. O usuário é sua matrícula e a senha é à sua escolha, podendo ser diferente da senha do sistema acadêmico.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="q2">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c2" aria-expanded="false" aria-controls="c2">
                        Como se conectar ao wi-fi do campus?
                    </button>
                </h2>
                <div id="c2" class="accordion-collapse collapse" aria-labelledby="q2" data-bs-parent="#perguntas">
                    <div class="accordion-body">
                        <strong>É necessário já ter acessado o Sistema Acadêmico!</strong> Após fazer isso, siga os seguintes passos:
                        <ol>
                            <li>Ative a conexão wireless do equipamento e procure pela rede wireless ws_wlan</li>
                            <li>Selecione as opções de segurança e autenticação a seguir:
                                <ul>
                                    <li>Segurança: WPA2-Enterprise</li>
                                    <li>Criptografia: AES</li>
                                    <li>Método: EAP: EAP-PEAP</li>
                                    <li>Autenticação: MS-CHAPv2</li>
                                </ul>
                            </li>
                            <li>Preencher usuário e senha com os mesmos utilizados no sistema acadêmico</li>
                            <li>Ignorar a autenticidade do certificado e conectar!</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="q3">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c3" aria-expanded="false" aria-controls="c3">
                        Qual é o horário de funcionamento do campus?
                    </button>
                </h2>
                <div id="c3" class="accordion-collapse collapse" aria-labelledby="q3" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>O campus abre às 7h e fecha às 23h30.</strong> As aulas dos cursos Integrados de Informática e Mecatrônica iniciam às 7h30 e vão até 13h, e as do curso de Internet das Coisas iniciam às 13h e vão até 18h30.
                        <br><br>
                        As aulas de dependência e tutoria ocorrem no contraturno de seu curso.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="q4">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c4" aria-expanded="false" aria-controls="c4">
                        Onde eu posso me alimentar no campus?
                    </button>
                </h2>
                <div id="c4" class="accordion-collapse collapse" aria-labelledby="q4" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Em dias de semana letivos, o horário da cantina é das 8h às 21h.</strong> Ao lado da cantina, há um restaurante self-service com opções de marmita e prato porcionado. No final do corredor na área da cantina há o <strong>refeitório</strong>, onde há geladeiras, freezers e microondas em que alunos e servidores podem armazenar e aquecer seus próprios lanches e refeições.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="q5">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c5" aria-expanded="false" aria-controls="c5">
                        Como funciona o programa de Monitoria e Tutoria?
                    </button>
                </h2>
                <div id="c5" class="accordion-collapse collapse" aria-labelledby="q5" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        O campus oferece aulas de monitoria e tutoria para algumas disciplinas, geralmente as de Exatas, em que alunos mais de turmas mais avançadas auxiliam alunos de outras turmas a estudar e responder dúvidas. Os horários são decididos de antemão e ocorrem no contraturno das turmas participantes.
                        <br><br>
                        Converse com o professor para verificar a disponibilidade de monitoria e tutoria e seus horários!
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="q6">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c6" aria-expanded="false" aria-controls="c6">
                        Como funciona o acesso à biblioteca?
                    </button>
                </h2>
                <div id="c6" class="accordion-collapse collapse" aria-labelledby="q6" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Todos os alunos podem ter acesso ao acervo de livros e periódicos da biblioteca.</strong> Para retirada de materiais é necessário que o aluno realize um cadastro. O uso dos armários é permitido somente durante a permanência na biblioteca. Todos os alunos podem acessar os computadores para fins acadêmicos.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="q7">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c7" aria-expanded="false" aria-controls="c7">
                        Posso ficar no campus além do horário de aulas para estudar?
                    </button>
                </h2>
                <div id="c7" class="accordion-collapse collapse" aria-labelledby="q7" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Sim.</strong> Além da biblioteca, o campus possui salas de estudo e laboratórios disponíveis para uso dos alunos. Verifique quais salas e a disponibilidade do uso na recepção!
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="q8">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c8" aria-expanded="false" aria-controls="c8">
                        Como eu consigo meu cartão de transporte escolar gratuito?
                    </button>
                </h2>
                <div id="c8" class="accordion-collapse collapse" aria-labelledby="q8" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Todo aluno(a) do técnico integrado ao ensino médio possui direito ao cartão de ônibus gratuito com 2 passagens por dia.</strong> Para conseguí-lo, basta seguir os seguintes passos:
                        <ol>
                            <li>Acesse o site da GVBus: <a href="www.gvbus.org.br">www.gvbus.org.br</a></li>
                            <li>Preencha seus dados utilizando o código apropriado:
                                <ul>
                                    <li>Estudante 50%: 753</li>
                                    <li>Estudante gratuito: 898</li>
                                    <li>Estudante gratuito com comprovação de renda: 1170</li>
                                </ul>
                            </li>
                            <li>Escolha as linhas que você utilizará. As linhas que passam na frente do IFES e no Terminal de Laranjeiras são:
                                <ul>
                                    <li>815</li>
                                    <li>860</li>
                                    <li>830</li>
                                </ul>
                            </li>
                            <li>Preencha o formulário e envie para o email <a href="mailto:passeescolar.sr@gmail.com">passeescolar.sr@gmail.com</a> ou imprima-o e entregue na Coordenadoria de Apoio ao Ensino para ser assinado. O retorno será dado em até 5 dias úteis.</li>
                        </ol>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>