<!-- Rodapé da pagina -->
<footer class="text-light p-2">
    <div class="container">
        <div class="row pt-3">
            <div class="col-md-6">
                <img class="logo mb-3" src="{{URL}}/public/images/logo.png" alt="Logo">
                
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li class="nav-item"><a  href="{{URL}}/">Home</a></li>
                            <li class="nav-item"><a  href="{{URL}}/about">Sobre</a></li>
                            <li class="nav-item"><a  href="{{URL}}/calendar">Calendário</a></li>
                            <li class="nav-item"><a  href="{{URL}}/map">Mapa</a></li>
                        </ul>
                    </div>
                    
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li class="nav-item"><a  href="{{URL}}/schedule">Horários</a></li>
                            <li class="nav-item"><a  href="{{URL}}/contact">Contatos</a></li>
                            <li class="nav-item"><a  href="{{URL}}/rod">ROD</a></li>
                            <li class="nav-item"><a  href="{{URL}}/faq">FAQ</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h5 class="text-md-right">Depoimento</h5>
                <hr>
                <form method="GET">
                    <!-- NOME -->
                    <fieldset class="form-group mb-2">
                        <input type="text" class="form-control" id="nome" placeholder="Ex: Fulano Ciclano">
                    </fieldset>

                    <!-- MENSAGEM -->
                    <fieldset class="form-group">
                        <textarea class="form-control" id="mensagem" placeholder="Messagem"></textarea>
                    </fieldset>

                    <!-- SUBMIT -->
                    <fieldset class="form-group text-xs-right">
                        <button type="submit" class="btn btn-outline-light btn-lg p-2 mt-2 text-light">Enviar</button>
                    </fieldset>
                </form>
            </div>

            <small class="mt-3 mt-md-0">&copy; Todos os direitos reservados 2022</small>
        </div>
    </div>
</footer>

