<footer class="text-light p-2">
    <div class="container">
        <div class="row pt-3">
            <div class="col-md-6 col-sm-12">
                <img class="logo mb-3" src="{{URL}}/public/images/logo.png" alt="Logo">
            </div>

            <div class="col-md-6 col-sm-12 text-center">
                <a class="btn btn-lg" href="#"><i class="text-light fa-brands fa-instagram fa-2xl"></i></a>
                <a class="btn btn-lg" href="#"><i class="text-light fa-brands fa-twitter fa-2xl"></i></a>
                <a class="btn btn-lg" href="#"><i class="text-light fa-brands fa-facebook fa-2xl"></i></a>
            </div>

            <div class="row mt-2">
                <div class="col-6">
                    <ul class="list-unstyled">
                        <li class="nav-item"><a  href="{{URL}}/">Home</a></li>
                        <li class="nav-item"><a  href="{{URL}}/about">Sobre</a></li>
                        <li class="nav-item"><a  href="{{URL}}/calendar">Calendário</a></li>
                        <li class="nav-item"><a  href="{{URL}}/map">Mapa</a></li>
                    </ul>
                </div>
                
                <div class="col-6">
                    <ul class="list-unstyled">
                        <li class="nav-item"><a  href="{{URL}}/schedule">Horários</a></li>
                        <li class="nav-item"><a  href="{{URL}}/contact">Contatos</a></li>
                        <li class="nav-item"><a  href="{{URL}}/rod">ROD</a></li>
                        <li class="nav-item"><a  href="{{URL}}/faq">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <small class="mt-3 mt-md-0">&copy; Todos os direitos reservados 2022</small>
        </div>
    </div>
</footer>