<section class="my-4">
    <div class="container div-video d-flex justify-content-center">
        <iframe class="video" src="https://www.youtube.com/embed/aANuDntBtOU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>
</section>

<section>
    <div class="p-5 mt-4 caixa1">
        <div class="container">
            <h1 class="h1">História</h1>
            <p>
                Desde a criação da Escola de Aprendizes Artífices do Espírito Santo, em 1909, até a transformação em Instituto Federal do Espírito Santo, a instituição é referência em educação na sociedade capixaba.
                <br><br>
                Resultado da união das unidades do Centro Federal de Educação Tecnológica e das Escolas Agrotécnicas Federais, em 2008, o Ifes promove educação profissional pública de excelência, integrando ensino, pesquisa e extensão, para a construção de uma sociedade democrática, justa e sustentável.
            </p>
        </div>
    </div>

    <div class="p-5">
        <div class="container">
            <h1 class="h1">Estrutura</h1>
            <p>
                O Instituto Federal do Espírito Santo oferece de cursos técnicos ao doutorado e possui mais de 36 mil alunos. São 100 cursos técnicos, 63 cursos de graduação, 30 cursos de pós-graduação em nível de especialização e aperfeiçoamento, 11 mestrados e 1 doutorado profissional.
                <br><br>
                Com 22 campi em funcionamento, incluindo o Centro de Referência em Formação e em Educação a Distância - Cefor, o Ifes se faz presente em todas as microrregiões capixabas. O Instituto possui ainda 49 polos de educação a distância no Espírito Santo, o Polo de Inovação e a Cidade da Inovação.
            </p>
        </div>
    </div>
</section>

<section>
    <div class="p-5 mt-4 caixa1">
        <div class="container">
            <h1>Comentários</h1>
            <p>
                Comente aqui sua história com o IFES e sua experiência com o Manual do Calouro!
            </p>

            <form class="mb-4">
                <div class="mb-3">
                    <label for="comentario" class="form-label fw-bold">Escreva aqui seu comentário:</label>
                    <textarea required class="form-control" id="comentario" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>

            <h3>Outros comentários</h3>
            <div id="comentarios">
                {{comentarios}}

                <div class="text-center">
                    <button type="button" class="mt-2 btn btn-secondary">Ver mais</button>
                </div>
            </div>
        </div>
    </div>
</section>