<section>
    <div class="p-5 mb-5 caixa1">
        <div class="container">
            <h1 class="h1">Mapa do Campus</h1>
            <p>
                Este é o mapa do IFES campus Serra. O 1° dígito do número de cada sala indica o bloco a que ela pertence, e os outros 2 dígitos indicam qual sala. Caso o bloco possua mais de um andar, o número recebe "T" para andar Térreo ou "S" para andar Superior.
                <br>
                Ex: Sala 901T (Bloco 9, andar superior)
                <br><br>
                Para baixar o mapa, clique <a href="{{URL}}/public/images/mapa_campus_serra.png" download="">aqui</a>.
            </p>
        </div>
    </div>

    <div class="container text-center">
        <div>
            <img class="img-fluid" alt="mapa_campus_serra" src="{{URL}}/public/images/mapa_campus_serra.png">
        </div>
    </div>

</section>