<section class="my-5">
    <div class="p-3 d-flex flex-column align-items-center container">
        <form class="w-75" method="POST" enctype="multipart/form-data">            
            {{status}}

            <!-- Primeira row -->
            <div class="row">
                <div class="col-md-6 col-12 text-center">
                    <label for="foto-editar-perfil" class="form-label fw-bold h5">Editar foto de perfil</label>

                    <!-- IMAGEM DE PERFIL -->
                    <div class="d-flex flex-column align-items-center p-3">
                        <img id='foto-editar-perfil' class='img-fluid' alt='user-pic' src='{{URL}}/public/uploads/{{foto}}'>
                        
                        <input type="hidden" name="MAX_FILE_SIZE" value="33554432">
                        <input class="mt-4 form-control form-control-sm" id="nova-foto-perfil" name="foto" type="file" accept="image/*">
                    </div>
                </div>

                <!-- TEXTO CAMPO -->
                <div class='col-md-6 col-12 text-center'>
                    <label class='form-label fw-bold h5'>Editar {{texto}}</label>

                    <div class="d-flex flex-column justify-content-center">
                        {{campo}}
                    </div>
                </div>
            </div>

            <!--Segunda row-->
            <div class="row mt-2">
                <!-- NOME -->
                <div class="mb-3">
                    <label for="nome" class="form-label fw-bold">Nome</label>
                    <input required type="text" class="form-control" id="nome" name="nome"
                        value="{{nome}}">
                </div>

                <!-- EMAIL -->
                <div class="mb-3">
                    <label for="email" class="form-label fw-bold">Email</label>
                    <input required type="email" class="form-control" id="email" name="email" 
                        value="{{email}}">
                </div>
            </div>

            <!--Terceira row-->
            <div class="row mt-3">
                <div class="d-flex flex-column align-items-center justify-content-md-around flex-md-row">
                    <!-- SALVAR -->
                    <button class="btn btn-primary me-md-3" type="submit">Salvar alterações</button>
                </div>
            </div>
        </form>
    </div>
</section>