<!-- Conteudo da pagina -->
<section>
    <div class="p-5 caixa1">
        <div class="container">
            <h1>O que é o ROD dos Cursos Técnicos</h1>
            <p>
                O Regulamento de Organização Didática dos
                Cursos Técnicos do Ifes é o documento que
                possui os direitos e deveres dos estudantes
                e servidores do Ifes, bem como os prazos e
                os procedimentos acadêmicos necessários
                para acessá-los. Um documento de leitura
                obrigatória para toda a comunidade acadêmica:
                professores, técnicos-administrativos, estudantes
                e famílias.
                Este é um pequeno guia resumido com os
                principais pontos do documento, mas não deixe
                de ler o documento na íntegra, disponível em:
                bit.ly/rod-tecnicos.
            </p>
        </div>
    </div>

    <div class="p-5">
        <div class="container">
            <h1>Baixe o ROD</h1>
            <p>Documento válido a partir do semestre letivo de 2020/1- homologado pela <a href="{{URL}}/public/downloads/Res_CS_65_2019_-_Homologa_o_Regulamento_da_Organização_Didática_dos_Cursos_Técnicos_do_Instituto_Federal_do_Espirito_Santo.pdf" download>Resolução CS 65/2019</a> e alterado pela Resolução <a href="{{URL}}/public/downloads/Resolução_CS_42_2021_-_Alterar_a_Resolução_CS_nº_65_2019.pdf" download>CS 42/2021.</a></p>
            <ul>
                <li><a href="{{URL}}/public/downloads/rod_normal.pdf" download>ROD dos cursos técnicos</a></li>
                <li><a href="{{URL}}/public/downloads/rod_acessibilidade.pdf" download>ROD dos cursos técnicos - para pessoas com baixa visão</a></li>
                <li><a href="https://youtu.be/pCosRUYPdgY">ROD dos cursos técnicos - libras</a></li>
                <li><a href="{{URL}}/public/downloads/rodinho.pdf" download>Rodinho: ROD resumido</a></li>
                <li><a href="https://youtu.be/cfZPhDuqhlQ">Rodinho: ROD resumido - libras</a></li>
            </ul>
        </div>
    </div>
</section>