<h1>Depoimentos</h1>

<hr />

<section id="testimonies">
    {{itens}} 
    {{pagination}}
</section>

<hr />

<section id="form" action="?page=1">
    <h3>Envie seu depoimento</h3>

    <form method="post">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input class="form-control" type="text" name="nome" required />
        </div>

        <div class="form-group">
            <label for="mensagem">Mensagem</label>
            <textarea
                class="form-control"
                name="mensagem"
                rows="5"
                required
            ></textarea>
        </div>

        <div class="form-group mt-3">
            <button class="btn btn-success" type="submit">Enviar</button>
        </div>
    </form>
</section>
