<div>
    <p>
        <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#crud-contatos" aria-expanded="false" aria-controls="crud-contatos">
            Meus contatos
        </button>
    </p>
    <div class="collapse mt-3 mb-4" id="crud-contatos">
        <div class="card card-body">
            <span class="mb-3">
                <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#add-contato">
                    Adicionar contato
                    <i class="fa-solid fa-square-plus"></i>
                </button>
            </span>
            
            <div class="d-flex justify-content-center">
                {{items}}
            </div>
        </div>
    </div>
</div>

{{modal_cadastro}}

{{modal_atualiza}}
