<!-- CARD CONTATO SERVIDOR -->
<div class="d-flex flex-column align-items-center">
    <div class="accordion col-md-7 mb-2 w-100" id="contato{{contato_id}}">
        <div class="accordion-item">
            <h2 class="accordion-header" id="titulo{{contato_id}}">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#regras{{contato_id}}"
                    aria-expanded="false"
                    aria-controls="regras{{contato_id}}"
                >
                    <!-- CONTEÚDO -->
                    <div class="row w-100">
                        <!-- FOTO -->
                        <div
                            class="col-3 d-flex justify-content-center align-items-center"
                            id="div-img-contato"
                        >
                            <img
                                class="img-contato"
                                src="{{URL}}/public/uploads/{{imagem}}"
                                alt="foto"
                            />
                        </div>

                        <!-- INFORMAÇÕES DE CONTATO -->
                        <div class="col-9 d-flex align-items-center">
                            <div class="card-body">
                                <h5 class="card-title fw-bold text-break mb-1">
                                    {{setor}}
                                </h5>

                                <div class="row">{{contato}}</div>
                            </div>
                        </div>
                    </div>
                </button>
            </h2>

            <div
                id="regras{{contato_id}}"
                class="accordion-collapse collapse"
                aria-labelledby="titulo{{contato_id}}"
                data-bs-parent="#contato{{contato_id}}"
            >
                <div class="accordion-body">
                    <div class="d-flex flex-row align-items-baseline">
                        <h5 class="me-1">Sala:</h5>
                        <p>{{sala}}</p>
                    </div>

                    <div class="d-flex flex-row align-items-baseline">
                        <h5 class="me-1">Horário de atendimento:</h5>
                        <p>{{hora_inicio}} - {{hora_fim}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
