<div class="card card-body mb-1">
    <div class="d-flex">
        <div class="d-inline p-1 me-3">
            <img class="img-comentario"
            src="{{URL}}/public/{{imagem}}"
            alt="user_pic"
            />
        </div>

        <div class="d-flex flex-column">
            <!-- CABEÇALHO/NOME DO USUÁRIO -->
            <div>
                <p class="mb-0 fw-semibold">{{data}} - {nome} comentou:</p>
            </div>

            <!-- COMENTÁRIO -->
            <div>
                <p>{{texto}}</p>
            </div>
        </div>
    </div>
</div>