<div class="col-md-6">
    <h5 class="text-md-right">Depoimento</h5>
    <hr>
    <form method="GET">
        <!-- NOME -->
        <fieldset class="form-group mb-2">
            <input type="text" class="form-control" id="nome" placeholder="Ex: Fulano Ciclano">
        </fieldset>

        <!-- MENSAGEM -->
        <fieldset class="form-group">
            <textarea class="form-control" id="mensagem" placeholder="Messagem"></textarea>
        </fieldset>

        <!-- SUBMIT -->
        <fieldset class="form-group text-xs-right">
            <button type="submit" class="btn btn-outline-light btn-lg p-2 mt-2 text-light">Enviar</button>
        </fieldset>
    </form>
</div>