{{hidden}}

<!-- CURSO -->
<div class="mb-3">
    <label for="curso" class="form-label fw-bold">Curso</label>

    <select id="curso" name="curso" class="form-select">
        <option selected value="">Selecione seu curso...</option>
        {{curso}}
    </select>
</div>



<!-- MÓDULO -->
<div class="mb-3">
    <label for="modulo" class="form-label fw-bold">Módulo</label>

    <select id="modulo" name="modulo" class="form-select">
        <option selected value="">Selecione seu módulo...</option>
        {{modulo}}
    </select>
</div>

<script src="{{URL}}/resources/js/perfil/aluno.js"></script>