<div class="d-flex justify-content-center">

    <div class="card mt-3 text-dark text-center">

        <div class="card-header">
            <h1>Login</h1>
        </div>

        <div class="card-body">
            {{status}}

            <form method="post">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input class="form-control" type="email" name="email" placeholder="email@teste.com" required autofocus>
                </div>
                
                <div class="form-group my-3">
                    <label for="senha">Senha</label>
                    <input class="form-control" type="password" name="senha" placeholder="********" required>
                </div>

                <button class="btn btn-lg btn-success" type="submit">Entrar</button>

                <div class="text-center">
                    <a href="{{URL}}">Área do usuario</a>
                </div>
            </form>
        </div>
    </div>
</div>